<p id="notice"><%= notice %></p>

<h1>Your Scripts</h1>

    <% @scripts.each do |script| %>
      <h2><%= script.title %><h2>
      <p><%= script.content %></p>
      <%= link_to 'Show', script %>
      <%= link_to 'Edit', edit_script_path(script) %>
      <%= link_to 'Destroy', script, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
