<p id="notice"><%= notice %></p>

<h1>Highlights</h1>

<table>
  <thead>
    <tr>
      <th>Item title</th>
      <th>Item color</th>
      <th>Item comment</th>
    </tr>
  </thead>

  <tbody>
    <% @highlights.each do |highlight| %>
      <tr>
        <td><%=highlight.text%></td>
        <td><%=highlight.color_code%></td>
        <td><%=highlight.comment%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Highlight', new_highlight_path %>
